* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

form {
    text-align: center;
}

form div {
    display: none;
}

input {
    padding: 8px 30px;
    margin: 8px 0px;
    box-sizing: border-box;
}