.topnav {
    overflow: hidden;
    background-color: rgb(250, 250, 250);
    border: 2px solid rgb(245, 245, 245);
    border-radius: 10px;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 15px 10px;
    text-decoration: none;
}

.topnav a.active {
    background-color: rgb(50, 132, 200);
    color: white;
}

.topnav a:hover {
    background-color: rgb(215, 232, 247);
    color: black;
}

.topnav button {
    float: right;
    padding: 7px;
    margin-top: 4px;
    margin-right: 16px;
    border-radius: 12px;
    font-size: 20px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button_red {
    background-color: white;
    color: black;
    border: 2px solid #f44336;
}

.button_red:hover {
    background-color: #f44336;
    color: white;
}

.button_green {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.button_green:hover {
    background-color: #4CAF50;
    color: white;
}